.node{
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    border: 1px solid rgba(106, 90, 205, 0.8);
}
.start-node{
    background-color: rgb(118, 206, 177);
}
.end-node{
    background-color: rgb(199, 118, 206);
}