.node{
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    border: 1px solid rgba(108, 107, 111, 0.8);
}
.start-node{
    background-color: rgb(118, 206, 177);
}
.end-node{
    background-color: rgb(199, 118, 206);
}
.wall-node{
    background-color: rgb(122, 121, 122);
}

/* @keyframes footprint{  
    from{background-color: blanchedalmond;}
    to {background-color: rgb(141, 152, 203);;}
} */

.visited{
    /* animation-name: footprint;
    animation-duration: 1s; */
    background-color: rgb(136, 164, 212);
}

.shortest-path{
    background-color: turquoise;
}